################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/DiscordManagementBot/bin/Debug/net6.0/config.json
/DiscordManagementBot/bin/Debug/net6.0/SRCDSConfig.json
